.admin-dashboard{
  background-color: blue;
}
.equipments{
  background-color: blue;
}


.logout-button {
  margin-top: 60px;
  margin: 2em; 
  padding: 10px;
display: flex;
direction: inherit;

}

.logout-button button {
  background-color: #d9534f; 
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button button:hover {
  background-color: #c9302c; 
}
