
<section id="sidebar">
  <a href="#" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">Admin Med</span>
  </a>
  <ul class="side-menu top">
  
    <li [routerLinkActive]="'active'">
      <a routerLink="/listequip">
        <i class='bx bxs-shopping-bag-alt'></i>
        <span class="text">Equipment List</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="/createequip">
        <i class='bx bxs-doughnut-chart'></i>
        <span class="text">Manage Equipment</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="/ticketlist">
        <i class='bx bxs-shopping-bag-alt'></i>
        <span class="text">Manage Ticket </span>
      </a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="/panne">
        <i class='bx bxs-doughnut-chart'></i>
        <span class="text">CreatePanne</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="/pannelist">
        <i class='bx bxs-doughnut-chart'></i>
        <span class="text">Manage Panne</span>
      </a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="/userlist">
        <i class='bx bxs-doughnut-chart'></i>
        <span class="text"> Manage User </span>
      </a>
    </li>
    <li [routerLinkActive]="'active'">
      <a routerLink="/createuser">
        <i class='bx bxs-shopping-bag-alt'></i>
        <span class="text">Create User</span>
      </a>
    </li>
    <li class="logout-button">
      <button (click)="logout()" style="margin-left: 70px;">Logout</button>
    </li>

  </ul>
</section>
