<app-dashboard></app-dashboard>
<section class="breakdowns my-5">
  <h2 class="text-center mb-4">Existing Breakdowns</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
          <th scope="col">Equipement</th>

          <th scope="col">Date</th>
        
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let breakdown of breakdowns">
          <td>{{breakdown.id}}</td>
          <td>{{breakdown.description}}</td>
          <td>{{breakdown.equipement.description}}</td>
          <td>{{breakdown.datePanne | date:'shortDate'}}</td>
          <!-- <td>
            <span class="badge" [ngClass]="{'badge-success': breakdown.resolu, 'badge-danger': !breakdown.resolu}">
              {{breakdown.resolu ? 'Yes' : 'No'}}
            </span>
          </td> -->
          <td>
            <button class="btn btn-danger btn-sm" (click)="deletePanne(breakdown.id)">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
